# Python environment
apexEnv/
__pycache__/
*.py[cod]

# Apex Pro Data (Do not commit victim info)
apex_vault.db
*.locked
RECOVER_FILES_NOW.html

# IDE files
.vscode/
.idea/
apex_cert.pem
apex_key.pem
__pycache__/
Apex_Simulation_Report.pdf
script_b64.txt
ApexUpdater.exe